.home-container {
  padding: 22px 10px 0 10px;
  font-size: 18px;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  background: #00285f;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-image-container {
  padding-top: 19px;
}

.home-image-container img {
  width: 260px;
  height: auto;
}

.home-content-container h1 {
  color: #ffffff;
  font-size: 22px;
}

.home-content-container p {
  color: #ffffff;
  width: 25em;
  font-size: 11px;
}

.home-card-catalog-container {
  padding: 30px 0px 25px 0px;
}

.home-card-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d4d1d1;
  border-radius: 10px;
  height: 123px;
}

.home-card-link a {
  font-size: 18px;
  margin: 20px;
  color: #585858;
}

@media (min-width: 576px) {
  .home-container {
    padding: 30px 20px 0 20px;
  }

  .home-card {
    height: 400px;
  }

  .home-image-container img {
    width: 333px;
  }
  .home-content-container h1 {
    font-size: 36px;
    padding-top: 25px;
  }

  .home-content-container p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 60px;
  }

  .home-card-catalog {
    flex-direction: row;
    justify-content: start;
    text-align: start;
  }
  .home-card-catalog {
    padding-left: 120px;
  }

  .home-card-link a {
    padding: 10px;
    margin-left: 0px;
  }

  .home-card-link a {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .home-card {
    height: 579px;
  }

  .home-image-container img {
    width: 455px;
  }
}

@media (min-width: 1200px) {
  .home-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 151px 0 150px;
  }

  .home-image-container img {
    width: 100%;
    margin-left: 100px;
    margin-top: 160px;
  }

  .home-card-catalog {
    margin: 0 151px 0 150px;
  }

  .home-image-container img {
    width: 300px;
    margin-left: 20px;
  }
}
