.main-nav {
  background-color: #f78b00;
  padding: 10px 10px 0 10px;
  min-height: 70px;
  color: #00285f;
}

.main-nav h1 {
  font-size: 28px;
}

.main-menu {
  font-size: 20px;
}

.main-menu a.active {
  font-weight: 700;
}

@media (min-width: 767px) {
  .main-menu {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-left: auto;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .main-nav{
    padding: 10px 150px 0 151px;
  }
}
